.body {
  z-index: -1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
}
.navbar {
  display: none;
}
.header {
  display: none;
}
.home_m {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 15);
}
.home_m_top_left {
  color: rgb(251, 230, 0);
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.home_m_top_left h3 {
  font-size: 25px;
  letter-spacing: 2px;
  font-family: "Barlow Condensed", sans-serif;
}
.home_m_top_left p {
  color: white;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: "Barlow Condensed", sans-serif;
}
.home_m_logo {
  z-index: 10;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 100;
  opacity: 1;
}
.home_m_logo img {
  height: 120px;
}
.home_m_banner {
  z-index: 100;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}
.home_m_banner img {
  z-index: 100;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: center;
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}
.home_m_buttons {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}
.home_m_buttons a {
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 8px 15px;
  color: black;
  background-color: rgb(255, 255, 0);
  border: solid 2px black;
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 15px;
}
.home_m_info {
  opacity: 100%;
  width: 320px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: solid 2px rgb(255, 255, 0);
  padding: 10px 15px;
  border-radius: 20px;
} 

.home_m_links {
  z-index: 1000;
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.home_m_links i {
  border-radius: 100%;
}
.home_m_links div {
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  font-size: 30px;
  background-color: #ffffff26;
  border-radius: 100%;
}

.image-container {
  width: 500px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}
@media (max-width: 450px) {
  .body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100vw;
    background-image: url(../../Assets/LPMV/Landing_mobile_bg.png);
    background-position: center;
    background-size: cover;
  }
  .navbar {
    display: none;
  }
  .header {
    display: none;
  }
  .home_m {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    color: yellow;
  }
  .home_m_top_left {
    color: rgb(255, 255, 0);
    position: absolute;
    top: 20px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .home_m_top_left h3 {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Barlow Condensed", sans-serif;
  }
  .home_m_top_left p {
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: "Barlow Condensed", sans-serif;
  }
  .home_m_logo {
    position: absolute;
    right: 1px;
    top: 1px;
  }
  .home_m_logo img {
    height: 100px;
  }
  .home_m_banner {
    display: grid;
    place-items: center;
  }
  .home_m_banner img {
    height: 280px;
    width: 350px;
    object-fit: cover;
    object-position: center;
  }
  .home_m_buttons {
    display: flex;
    gap: 10px;
  }
  .home_m_buttons a {
    font-weight: 600;
    padding: 8px 15px;
    color: black;
    background-color: rgb(255, 255, 0);
    border: solid 2px black;
    border-radius: 4px;
    letter-spacing: 2px;
  }
  .home_m_info {
    opacity: 100%;
    width: 320px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: solid 2px rgb(255, 255, 0);
    padding: 10px 15px;
    border-radius: 20px;
  }
  .home_m_info p {
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
  }
  .home_m_info h4 {
    text-align: center;
    letter-spacing: 1px;
  }
  .home_m_info h5 {
    font-size: 15px;
    color: white;
    text-align: center;
  }
  .home_m_links {
    margin-top: 30px;
    display: flex;
    gap: 30px;
  }
  .home_m_links i {
    border-radius: 100%;
  }
  .home_m_links div {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: 30px;
    background-color: #ffffff26;
    border-radius: 100%;
  }
}
